<p>Choose your move:</p>

<%= link_to "Rock", rock_paper_scissors_results_path(:throw => "rock"), method: :post %>
<%= link_to "Paper", rock_paper_scissors_results_path(:throw => "paper"), method: :post %>
<%= link_to "Scissors", rock_paper_scissors_results_path(:throw => "scissors"), method: :post %>
