<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>This is tough!</title>
  </head>
  <body>
    <h1>Hello World!</h1>
    <%= link_to "Magic Ball", magic_ball_path %>
    <%= link_to "Secret Number", guess_secret_number_path %>
    <%= link_to "Rock Paper Scissors", rock_paper_scissors_path %>
  </body>
</html>
